.toastui-calendar-template-milestoneTitle,
.toastui-calendar-template-taskTitle,
.toastui-calendar-template-alldayTitle {
    display: grid;
    height: 100%;
}

.toastui-calendar-template-milestoneTitle {
    grid: var(--milestone_title-grid);
    justify-content: var(--milestone_title-justify-content);
    align-items: var(--milestone_title-align-items);
}
.toastui-calendar-template-taskTitle {
    grid: var(--task_title-grid);
    justify-content: var(--task_title-justify-content);
    align-items: var(--task_title-align-items);
}
.toastui-calendar-template-alldayTitle {
    grid: var(--allday_title-grid);
    justify-content: var(--allday_title-justify-content);
    align-items: var(--allday_title-align-items);
}

/* .toastui-calendar-column .toastui-calendar-events {
    overflow: hidden;
}

.toastui-calendar-event-time {
    width: var(--event-time-width) !important;
    box-shadow: 0 -1px 2px 1px rgba(256 256 256 / 10%),
        -1px 0px 2px 1px rgba(256 256 256 / 10%);
} */
