:root {
    --transition-snappy: all 0.3s cubic-bezier(0.07, 0.95, 0, 1);
    /*#region Base */
    --base-gap: 10px;
    --base-gap-large: 20px;
    /*#endregion */

    /*#region tui.Calendar */
    --milestone_title-grid: initial;
    --milestone_title-justify-content: flex-end;
    --milestone_title-align-items: center;

    --task_title-grid: initial;
    --task_title-justify-content: flex-end;
    --task_title-align-items: center;

    --allday_title-grid: initial;
    --allday_title-justify-content: flex-end;
    --allday_title-align-items: center;

    --event-time-width: 100%;
    /*#endregion */

    /*#region Header */
    --header-padding-block: 0;
    --header-padding-inline: var(--base-gap) var(--base-gap-large);
    --header-grid-template: 1fr / 1fr 1fr;
    --header-grid-template-areas: "title actions";
    --header-actions-justify-content: end;
    /*#endregion */

    /*#region PageMain */
    /** Menu Width */
    --page-main-menu-width: 200px;
    --page-main-header-height: 48px;
    --page-main-footer-height: 30px;
    --page-main-grid-template: var(--page-main-header-height) 1fr
        var(--page-main-footer-height) / var(--page-main-menu-width) 1fr;
    /* prettier-ignore */
    --page-main-grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";

    --page-main-menu-width--is-collapsed: 48px;
    --page-main-grid-template--is-collapsed: var(--page-main-header-height) 1fr
        var(--page-main-header-height) /
        var(--page-main-menu-width--is-collapsed) 1fr;
    --page-main-grid-template-areas--is-collapsed: var(
        --page-main-grid-template-areas
    );
    /*#endregion */

    /*#region Drawer */
    --drawer-width: 500px;
    --drawer-width-complex: 700px;
    /*#endregion */
}
