:root {
    --transition-snappy: all 0.3s cubic-bezier(0.07, 0.95, 0, 1);

    /*#region tui.Calendar */
    --milestone_title-grid: initial;
    --milestone_title-justify-content: flex-end;
    --milestone_title-align-items: center;

    --task_title-grid: initial;
    --task_title-justify-content: flex-end;
    --task_title-align-items: center;

    --allday_title-grid: initial;
    --allday_title-justify-content: flex-end;
    --allday_title-align-items: center;

    --event-time-width: 100%;
    /*#endregion */

    /*#region Grid */
    /** Menu Width */
    --page-main-menu-width: 200px;
    --page-main-header-height: 48px;
    --page-main-footer-height: 30px;
    --page-main-grid-template: var(--page-main-header-height) 1fr
        var(--page-main-footer-height) / var(--page-main-menu-width) 1fr;
    /* prettier-ignore */
    --page-main-grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";

    --page-main-menu-width--is-collapsed: 48px;
    --page-main-grid-template--is-collapsed: var(--page-main-header-height) 1fr
        var(--page-main-header-height) /
        var(--page-main-menu-width--is-collapsed) 1fr;
    --page-main-grid-template-areas--is-collapsed: var(
        --page-main-grid-template-areas
    );
    /*#endregion */
}
